<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Cornelius</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
      <h1>Cornelius</h1>
      <ul>
          <li>Mellow Waves - 2017</li>
          <li>Sensuous - 2006</li>
          <li>Point - 2001</li>
          <li>Fantasma - 1997</li>
          <li>69/96 - 1995</li>
          <li>The First Question Award - 1994</li>
      </ul>
      <img src="/images/cornelius.jpg" />
    </body>
  </html>